@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    /* Colors primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Colors neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    font-size: 15px;
    background: var(--very-light-gray);
}

/* Container */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 6.5%;
}
/* Card */

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    max-width: 900px;
}

.card__items {
    justify-items: start;
    align-items: center;
    padding: 50px 45px;
}

.card__items:nth-of-type(1) {
    background: var(--bright-orange);
    border-radius: 10px 0 0 10px;
}

.card__items:nth-of-type(2) {
    background: var(--dark-cyan);
}

.card__items:nth-of-type(3) {
    background: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
}

.card__title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.4rem;
    color: var(--very-light-gray);
    text-transform: uppercase;
    padding: 30px 0;
}

.card__paragraph {
    color: var(--transparent-white);
    line-height: 1.6;
    padding-bottom: 80px;
}

.card__button {
    background: var(--very-light-gray);
    padding: 15px 30px;
    border: 2px solid var(--very-light-gray);
    border-radius: 50px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.card__button:hover {
    color: var(--very-light-gray);
    background: transparent;
}

.card__button--orange {
    color: var(--bright-orange);
}

.card__button--dark-cyan {
    color: var(--dark-cyan);
}

.card__button--darker-cyan {
    color: var(--very-dark-cyan);
}


/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Responsive design */

@media screen and (max-width: 989px) {
    .card__items:nth-of-type(3) .card__paragraph {
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 970px) {
    .card__items:nth-of-type(1) .card__paragraph {
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 961px) {
    .card__items:nth-of-type(2) .card__paragraph {
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 870px) {
    .card__items:nth-of-type(1) .card__paragraph {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 866px) {
    .card__items:nth-of-type(3) .card__paragraph {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 862px) {
    .container {
        margin: 6.5%;
        height: 100%;
    }

    .card__items:nth-of-type(1) {
        border-radius: 10px 0 0;
    }

    .card__items:nth-of-type(2) {
        border-radius: 0 10px 10px 0;
    }

    .card__items:nth-of-type(3) {
        border-radius: 0 0 10px 10px;
    }

    .card__items:nth-of-type(2) .card__paragraph {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 574px) {
    .container {
        margin: 25% 6.5%;
    }

    .card__items:nth-of-type(1) {
        border-radius: 10px 10px 0 0;
    }

    .card__items:nth-of-type(2) {
        border-radius: 0;
    }
}